                    <div class="fr_page" style="">
                        <div class="fr_response_field fr_response_field_section_break">


                            <h4>CÓDIGO DEL CLIENTE</h4>


                            <hr>

                        </div>
                        <div class="fr_response_field fr_response_field_text">
                            <label for="c3">
                                NOMBRE DEL CLIENTE&nbsp;<abbr class="fr_required" title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" id="c3" class="size_large" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_text">
                            <label for="c4">
                                NIT&nbsp;<abbr class="fr_required" title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" id="c4" class="size_small" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_text">
                            <label for="c5">
                                TELEFONO&nbsp;<abbr class="fr_required" title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" id="c5" class="size_small" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_date">
                            <fieldset class="fr_fieldset">
                                <legend>FECHA</legend>
                                <label for="c6">
                                    FECHA&nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <div class="fr_grid">
                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c6_day">DD</label>
                                            <input type="text" id="c6_day" data-rv-input="model.value.day" maxlength="2"
                                                   size="2">
                                        </div>

                                        <div class="fr_spacer">/</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c6_month">MM</label>
                                            <input type="text" data-rv-input="model.value.month" maxlength="2" size="2"
                                                   id="c6_month">
                                        </div>


                                        <div class="fr_spacer">/</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c6_year">YYYY</label>
                                            <input type="text" data-rv-input="model.value.year" maxlength="4" size="4"
                                                   id="c6_year">
                                        </div>

                                    </div>

                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_time">
                            <fieldset class="fr_fieldset">
                                <legend>HORA ENTRADA</legend>
                                <label for="c7">
                                    HORA ENTRADA &nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <div class="fr_grid">
                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c7_hours">HH</label>
                                            <input type="text" id="c7_hours" data-rv-input="model.value.hours"
                                                   maxlength="2" size="2">
                                        </div>

                                        <div class="fr_spacer">:</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c7_minutes">MM</label>
                                            <input type="text" data-rv-input="model.value.minutes" maxlength="2"
                                                   size="2" id="c7_minutes">
                                        </div>


                                        <div class="fr_spacer">:</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c7_seconds">SS</label>
                                            <input type="text" data-rv-input="model.value.seconds" maxlength="2"
                                                   size="2" id="c7_seconds">
                                        </div>


                                        <div class="has_sub_label">
                                            <select data-rv-value="model.value.am_pm" data-width="auto"
                                                    aria-label="AM/PM">
                                                <option value="AM">AM</option>
                                                <option value="PM">PM</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_email">
                            <label for="c8">
                                CORREO ELECTRONICO&nbsp;<abbr class="fr_required" title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" inputmode="email" id="c8" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_section_break">


                            <h4>ENTREGA SOLUCION</h4>


                            <hr>

                        </div>
                        <div class="fr_response_field fr_response_field_checkboxes">
                            <fieldset class="fr_fieldset">
                                <legend>El cliente confirma que recibe a satisfacción los siguientes servicios</legend>
                                <label for="c11">
                                    El cliente confirma que recibe a satisfacción los siguientes servicios&nbsp;<abbr
                                            class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.0">
                                        SOLUCIÓN M2M FUNCIONANDO
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.1">
                                        INSTALACIÓN DE DISPOSITIVOS Y AP
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.2">
                                        CAPACITACIÓN DEL PRODUCTO
                                    </label>


                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_section_break">


                            <h4>TEMAS DE CAPACITACIÓN DE LA PLATAFORMA</h4>


                            <hr>

                        </div>
                        <div class="fr_response_field fr_response_field_checkboxes">
                            <fieldset class="fr_fieldset">
                                <label for="c13">


                                </label>

                                <div class="fr_field_wrapper">

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.0">
                                        Ingreso a plataforma
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.1">
                                        Visualización de moviles en mapa
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.2">
                                        Cargar licencias en dispositivos
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.3">
                                        Crear usuarios
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.4">
                                        Crear grupos de dispositivos
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.5">
                                        Configurar jornadas laborales
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.6">
                                        Crear geozona
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.7">
                                        Crear localizaciones
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.8">
                                        Crear reportes
                                    </label>

                                    <label class="fr_option control">
                                        <input type="checkbox" data-rv-checked="model.value.9">
                                        Crear formularios
                                    </label>


                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                            <div class="fr_description">
                                Estos temas son reforzados en el proceso de capacitación, y se debe tener en cuenta que el administrador de la plataforma haya visualizado las ayudas para formalizar dicha capacitación. el administrador de la plataforma debe tener conocimientos técnicos en herramientas web.
                            </div>


                        </div>
                        <div class="fr_response_field fr_response_field_text">
                            <label for="c15">
                                CONFIRMACION DE LINEAS ADQUIRIDAS&nbsp;<abbr class="fr_required"
                                                                             title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" id="c15" class="size_small" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                            <div class="fr_description">
                                <br>

                            </div>


                        </div>
                        <div class="fr_response_field fr_response_field_dropdown">
                            <label for="c16">
                                CALIFIQUE DE 1 A 5 LA CALIDAD DE LA CAPACITACION &nbsp;<abbr class="fr_required"
                                                                                             title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <select id="c16" data-rv-value="model.value">


                                    <option value="1 DEFICIENTE">
                                        1 DEFICIENTE
                                    </option>

                                    <option value="2 REGULAR">
                                        2 REGULAR
                                    </option>

                                    <option value="3 BASICA">
                                        3 BASICA
                                    </option>

                                    <option value="4 BUENA">
                                        4 BUENA
                                    </option>

                                    <option value="5 EXCELENTE">
                                        5 EXCELENTE
                                    </option>

                                </select>

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_signature">
                            <fieldset class="fr_fieldset">
                                <legend>FIRMA DEL CLIENTE</legend>
                                <label for="c17">
                                    FIRMA DEL CLIENTE&nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <canvas id="signatureCanvasc17" class="size_large"
                                            style="border: 1px solid rgb(0, 0, 0); touch-action: none;"></canvas>
                                    <div>
                                        <button onclick="signaturePads['c17'].clear();">Eliminar</button>
                                    </div>
                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                            <div class="fr_description">
                                Al firmar constato la instalación de las licencias en los equipos adquiridos para la aplicación, y que fui capacitado para administrarlas.
                            </div>


                        </div>
                        <div class="fr_response_field fr_response_field_signature">
                            <fieldset class="fr_fieldset">
                                <legend>FIRMA DEL CLIENTE Copy</legend>
                                <label for="c18">
                                    FIRMA DEL CLIENTE Copy&nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <canvas id="signatureCanvasc18" class="size_large"
                                            style="border: 1px solid rgb(0, 0, 0); touch-action: none;"></canvas>
                                    <div>
                                        <button onclick="signaturePads['c18'].clear();">Eliminar</button>
                                    </div>
                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                            <div class="fr_description">
                                Al firmar constato la instalación de las licencias en los equipos adquiridos para la aplicación, y que fui capacitado para administrarlas.
                            </div>


                        </div>
                        <div class="fr_response_field fr_response_field_signature">
                            <fieldset class="fr_fieldset">
                                <legend>FIRMA DEL CLIENTE Copy Copy</legend>
                                <label for="c19">
                                    FIRMA DEL CLIENTE Copy Copy&nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <canvas id="signatureCanvasc19" class="size_large"
                                            style="border: 1px solid rgb(0, 0, 0); touch-action: none;"></canvas>
                                    <div>
                                        <button onclick="signaturePads['c19'].clear();">Eliminar</button>
                                    </div>
                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                            <div class="fr_description">
                                Al firmar constato la instalación de las licencias en los equipos adquiridos para la aplicación, y que fui capacitado para administrarlas.
                            </div>


                        </div>
                        <div class="fr_response_field fr_response_field_text">
                            <label for="c20">
                                NOMBRE DE QUIEN FIRMA Y DOCUMENTO &nbsp;<abbr class="fr_required"
                                                                              title="required">*</abbr>


                            </label>

                            <div class="fr_field_wrapper">
                                <input type="text" id="c20" class="size_large" data-rv-input="model.value">

                            </div>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                        <div class="fr_response_field fr_response_field_time">
                            <fieldset class="fr_fieldset">
                                <legend>HORA FIN</legend>
                                <label for="c21">
                                    HORA FIN&nbsp;<abbr class="fr_required" title="required">*</abbr>


                                </label>

                                <div class="fr_field_wrapper">
                                    <div class="fr_grid">
                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c21_hours">HH</label>
                                            <input type="text" id="c21_hours" data-rv-input="model.value.hours"
                                                   maxlength="2" size="2">
                                        </div>

                                        <div class="fr_spacer">:</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c21_minutes">MM</label>
                                            <input type="text" data-rv-input="model.value.minutes" maxlength="2"
                                                   size="2" id="c21_minutes">
                                        </div>


                                        <div class="fr_spacer">:</div>

                                        <div class="has_sub_label">
                                            <label class="fr_sub_label" for="c21_seconds">SS</label>
                                            <input type="text" data-rv-input="model.value.seconds" maxlength="2"
                                                   size="2" id="c21_seconds">
                                        </div>


                                        <div class="has_sub_label">
                                            <select data-rv-value="model.value.am_pm" data-width="auto"
                                                    aria-label="AM/PM">
                                                <option value="AM">AM</option>
                                                <option value="PM">PM</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>


                            <div class="fr_error" data-rv-show="model.error" data-rv-text="model.error"
                                 style="display: none;"></div>


                        </div>
                    </div>