  <%= form.hidden_field :signature, class: 'signature_pad_input' %>
  <div class="signature_pad text-center">
    <div class="signature_pad_body">
      <canvas></canvas>
    </div>
  </div>
<h1>
  ================================
</h1>
  <%= render partial: 'signature' %>

<h1>
  ================================
</h1>
