<h1>Welcome to Dice Media Group, <%= @user.first_name %></h1>
  <p>
    You have successfully signed up to your project.
  </p>
<p>Thanks for joining and have a great day!</p>

<p>Carl Tanner</p>
<p>Lead Developer</p>
<p>Dice Media Group</p>