    <div class="jumbotron">
      <%= render partial: 'projects/client_user/jumbotron_content' %>
    </div>
    <div class="row">
      <%= render partial: 'projects/client_user/project_listing', collection: @projects %>
    </div>

