<div class="page-header">

  <h1><%= @agreement.document.name %></h1>
</div>

  <div><%= @agreement.document.main_body %></<div>
  	
<div class="approvals">
	<% @agreement.approvals.each do |approval| %>
		<div class="full-name">
			<%= image_tag(approval.signature, size: "50x100") %>	
			<%= approval.signed_on.strftime("%d %b %Y") if approval.signed_on %>

		</div>
	<% end -%>
</div>

