<!-- _default_show_page.html.erb *** -->

<div class="project-content">
	<div class="col-md-6">
		 <h3>Project Members</h3>

		<ul class="list-group project-members-list">
			 <% @project.project_users.each do |project_user| %>
			 	<li class="list-group-item project-member">
			 		<%# role = @project.project_users.find_by(user: 2).role %>
			 		<%# if role == "owner"  %>
			 			<!-- 👑 <%#= role.to_s %> -->
			 		<%# end -%>
			 		<%= "👑" if project_user.role %>
			 		<%= mail_to project_user.user.email %>
			 		<%= "(#{project_user.user.first_name})" if project_user.user.first_name %>

			 	</li>
			 <% end -%>			
		</ul>
	</div>
	
	<div class="col-md-6">
		<h3>Agreements</h3>
			<ul  class="list-group">
				<li  class="list-group-item">approved agreements<br />Link leads to pdf. </li>
			<% @project.agreements.each do |agreement| %>

			<% end -%>
			</ul>
	</div>

</div>


