<div class="container">
  <% if current_user.projects_host? %>
      <%= render partial: 'projects/projects_host/index', locals: {projects: @projects} %>
  <% else %>
      <%= render :partial => 'projects/client_user/index' %>
  <% end -%>
</div>
