<div class="container">
  <% if current_user.projects_host? %>
      <%= render partial: 'projects/projects_host/show', locals: {project: @project} %>
  <% else %>
      <%= render :partial => 'projects/client_user/show', locals: {project: @project} %>
  <% end -%>
</div>
