<h1>Project Host</h1>
    <div class="jumbotron">
    	<%= render partial: 'projects/projects_host/jumbotron_content' %>
    </div>
    <div class="row">
    	<%= render partial: 'projects/projects_host/project_listing', collection: @projects %>
    </div>
