<h1>Projects</h1>
<p class="lead">Got a new client?  Need contract or two?  Let's create a project to keep everything together.</p>
<p>
  <%= link_to new_project_path, class: 'btn btn-success btn-lg' do %>
    (+) New Project
  <% end %>
</p>
